* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFEAAE;
}

/*****************************************/
/********** SECTION HEADER-HERO **********/
/*****************************************/

.hero {
    background: url(../img/bar-ge003af24c_1280.png), lightgray 50% / cover no-repeat;
    height: 179px;
    /* width: 360px; */
    height: 177px;
    flex-shrink: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 54px;
    flex-shrink: 0;
}

.header-title {
    color: var(--Amber, #FFC100);
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 70%; /* 16.8px */
    text-transform: uppercase;
    /* padding: 8px 0; */
    margin: 10px 0;
}

button {
    display: flex;
    width: 111px;
    height: 32px;
    padding: 8px 16px;
    margin: 11px 9px 11px 0;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid var(--Amber, #FFC100);
    border-radius: 16px;
    background: var(--Amber, #FFC100);
    color: var(--Smoky-black, #0A0903);
    /* Action */
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/*****************************************/
/*********** MAIN ET SECTIONS ************/
/*****************************************/

main {
    display: flex;
    /* width: 360px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section1 {
    display: flex;
    width: 100%;
    /* width: 360px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
}

.section2 {
    display: flex;
    width: 100%;
    /* width: 360px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 16px;  */
}

.section-title {
    display: flex;
    width: 100%;
    /* width: 360px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 3px;
    background: var(--UT-orange, #FF8200);
}

.section-title h2 {
    color: var(--Smoky-black, #0A0903);
    text-align: center;
    /* Sub title */
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.section-title h1 {
    color: var(--Vanilla, #FFEAAE);
    text-align: center;
    /* Title 1 */
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.section1-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
    gap: 9px
}

.section2-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.section-body-txt {
    color: #000;
    /* Standard */
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.section2-body-txt {
    margin: 16px 8px;
}

.section-body-txt span {
    color: #000;
    /* Bold */
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 150% */
}

.section1-body-img {
    width: 168px;
    height: 228px;
    flex-shrink: 0;
    background: url(../img/pexels-thgusstavo-santana-3988530.jpg), lightgray 50% / cover no-repeat;
}

.section2-body-img {
    width: 100%;
    /* width: 360px; */
    height: 194px;
    flex-shrink: 0;
    background: url(../img/photo-andre-siclet-1463856947.png), lightgray 50% / cover no-repeat;
}

.zonePortaits {
    display: flex;
    align-items: flex-start;
    gap: 9px;
    margin-bottom: 16px;
}

.portrait-img-nom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.portrait-nom {
    color: #000;

    text-align: center;
    /* Sub title */
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}